
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'remauto_app_styles/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'remauto_app_styles/css/main_page.css' %}">
</head>
<body>
    <nav class="navbar">
        <a><button>Admin</button></a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
