<!-- client_details.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Details</title>
</head>
<body>
    <h1>Client Details</h1>
    <ul>
        <li><strong>Name:</strong> {{ client.name }}</li>
        <li><strong>Surname:</strong> {{ client.surname }}</li>
        <li><strong>Phone Number:</strong> {{ client.phone_number }}</li>
        <li><strong>Email:</strong> {{ client.email }}</li>
        <li><strong>Telegram:</strong> {{ client.telegram }}</li>
        <li><strong>WhatsApp:</strong> {{ client.whatsapp }}</li>
        <li><strong>Viber:</strong> {{ client.viber }}</li>
        <li><strong>Instagram:</strong> {{ client.instagram }}</li>
        <li><strong>Facebook:</strong> {{ client.facebook }}</li>
        <li><strong>TikTok:</strong> {{ client.tiktok }}</li>
    </ul>

    <p><a href="/">На главную</a></p> 
</body>
</html>
